<div class="row">
  <div class="col-sm-11">

    <form [formGroup]="quizForm" (ngSubmit)="createQuiz()">

      <app-dropdown [options]="(categories$ | async) ?? []" formControlName="mainCategories"></app-dropdown>
      <!-- TODO better display for errors -->
      <div *ngIf="quizForm.invalid && (quizForm.dirty || quizForm.touched)"
           class="alert alert-danger">
        <div *ngIf="mainCategory?.errors?.['required']">
          category required
        </div>
      </div>

      <!-- TODO better display for errors -->
      <app-dropdown *ngIf="selectableSubCategories.length > 0" [options]="selectableSubCategories"
                    formControlName="subCategories"></app-dropdown>
      <div *ngIf="quizForm.invalid && (quizForm.dirty || quizForm.touched)"
           class="alert alert-danger">
        <div *ngIf="subCategory?.errors?.['required']">
          sub-category required
        </div>
      </div>

      <select id="difficultySelect" formControlName="difficulty">
        <option [ngValue]="difficulty" *ngFor="let difficulty of difficulties">
          {{difficulty}}
        </option>
      </select>

      <button type="submit" class="primary" id="createBtn" [disabled]="quizForm.invalid">
        Create
      </button>
    </form>
  </div>
</div>
<div class="row">
  <app-quiz [quiz]="(quiz$ | async) ?? EMPTY_QUIZ"></app-quiz>
</div>
